@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesfont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html, body {
    height: 100px;
}

.wrapper {
    overflow: hidden;
    min-width: 1440px;
}

.container {
   margin: 0 auto; 
   width: 1300px;
}

body {
    font: 16px / 1.14 "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
list-style: none;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url('./img/bg/hero.jpg') center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}
.mai__title {
    margin-bottom: 3px;
}

.mail__content {
    background: #212121;
    color: #ffbc2f;
    font-style: 16px;
    padding: 5px 10px;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 72%;
}

.sidebar {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; 
    background: #212121;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width .3s;
}

.sidebar--opened {
    width: 20%;
    padding: 0 2% 0 2%;
}

.sidebar__menu {
    position: absolute;
    left: -400px;
    transition: left .3s;
}

.sidebar--opened .side-menu {
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: left .1s;
}

.sidebar__hamburger-icon {
    width: 63px;
    height: 38px;
    fill: #ffbc2f;
}

.sidebar__hamburger-icon:hover {
    color: #E52A39;
}

.sidebar__hamburger {
    display: block;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%);
}

.sidebar--opened {
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__hamburger {
    display: none;
}

.sidebar--opened .sidebar__header {
    display: flex;
}

.sidebar__header {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}

.sidebar__close {
    position: absolute;
    top: -13%;
    right: 29px;
    left: 23%;
    color: #ffbc2f;
}

.sidebar__close:hover {
    color: #E52A39;
}

.sidebar__close-icon {
    width: 503px;
    height: 47px;
    fill: #ffbc2f;
}


.side-menu__item {
    margin-bottom: 20px;
}

.side-menu__link {
    font-size: 20px;
    color: #ffc92f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
}

.side-menu__link:hover {
    color: #d82727;
}

.fade-slider {
    width: 100%;
    height: 100%;
    }

.fade-slider__item {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
}

.fade-slider__item--visble {
    opacity: 1;
}

.fade-slider__item--style-thirts {
    background: url('./img/content/hero/slider_pic_1.png') center center / contain no-repeat;
}

.fade-slider__item--style-games {
    background: url('./img/content/hero/slider_pic_2.png') center center / contain no-repeat;
}

.fade-slider__item--style-presents {
    background: url('./img/content/hero/slider_pic_3.png') center center / contain no-repeat;
}

.fade-slider__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-152%, -52%);
}

.fade-slider__text-games {
    position: absolute;
    left: 135%;
    top: 80%;
    transform: translate(-152%, -52%);
    text-align: center;
    white-space: nowrap;
}

.fade-slider__text-present {
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-152%, -52%);
    text-align: center;
    white-space: nowrap;
}

.lined-text {
    font-family: "Roboto", Arial, sans-serif;
    color:#fff;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-158%, -66%);
}

.lined-text__word {
    background: #000;
    padding: 0 12px 8px;
    margin-top: -2px;
}

.lined-text__word--color-yellow {
    color: #ffbc2f;
}

.lined-text__word:nth-child(2n) {
    margin-left: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.filter__item {
    margin-right: 40px;
}

.filter__item:last-child {
margin-right: 0;
}

.filter__link {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-transform: uppercase;
    padding: 3px 21px;
    color: #1b1b1b; 
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.filter__link:hover {
    color: #d82727;
}

.filter__item {
    margin-right: 10px;
}
 
.filter__item--active .filter__link {
    color: #ffc92f;
    background-color: #1b1b1b ;
}

.products {
    margin-bottom: 160px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}

.products__item {
    width: 297px;
    height: 350px;
    background: #ffc92f;
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.products__price {
    position: absolute;
    top: 18px;
    left: -6px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);
}

.products__price-amount {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    color: #fff;
    transform: rotate(181deg);
    position: absolute;
    top: 2px;
    right: 28px;
}

.products__item--color-black {
  background: #232323;  
}

.products__item--color-black .products__price {
    border-bottom-color: #ffc92f;  
}

.products__item--color-black .products__price-amount {
    color: #212121;
}

.products__item--size-double {
    width: 620px;
    height: 544px;
}

.products__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__item:hover .products__desc {
    transform: translateY(0%);

}

.products__desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, .8);
    font-size: 15px;
    color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

.products__img {
    display: block;
    max-width: 80%;
    max-height: 90%;
}

.products__desc-text {
    text-align: center;
    margin-bottom: 17px;
}

.btn {
  text-transform: uppercase;  
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 21px;
  padding: 2px 30px;
  background: #000;
  color: #ffc92f;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
    background: #d82727;
    color:#fff
}

.collections {
    margin-bottom: 135px;
}

.collections__list {
    display: flex;
}

.collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url('./img/bg/pattern.png') center center / 500px;
    position: relative;
}

.collections__item::before {
    content: "";
    display: block;
    position:absolute;
    height: 176%;
    width: 60%;
    top: -17%;
    left: -17%;
    background: center center /  contain no-repeat;
}

.collections__item--type-guys:before {
    background-image: url('./img/collections/collection_man.png');
}

.collections__item--type-girls:before {
    background-image: url('./img/collections/collection_woman.png');
    top: -31%;
    width: 80%;
    left: -25%;
}

.collections__link {
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.collections__link:hover .btn{
background: #d82727;
color: #fff;
}

.collections__title {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.collections__item:last-child {
    margin-right: 0;
}

.collections__desc {
    margin-bottom: 28px;
}

.footer {
    margin-bottom: 115px;
}

.footer .container {
    width: 1105px;
}

.site-menu {
    margin-bottom: 115px;
}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0px;
}

.site-menu__title {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: #d82727;
}

.site-menu__text {
  font-size: 15px; 
  color: #000; 
  margin-bottom: 30px;
  text-decoration: none;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.extras {
    display: flex;
    margin-bottom: 95px;
    height: -50px;
}

.extras__col {
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child {
    margin-right: 0px;
}

.extras__best {
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials {
    height: 100%;
    background: url('./img/bg/pattern.png') center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
margin-right: 0px;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    color: #E52A39;
}

.socials-item {
    width: 100%;
    height: 100%;
}



svg {
    margin: -2em;
    width: 100px; 
    height: 52px;
  }
  #robot-1 {
    --primary-color: #0099CC;
    --secondary-color: #FFDF34;
    --tertiary-color: #333;
  }
  #robot-2 {
    --primary-color: #E52A39;
    --secondary-color: #11EBD8;
    --tertiary-color: #000;
  }
  /*#robot-3 {
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
  }*/
  
  
  p {
    text-align: center;
    width: 60%;
    margin: 3em auto;
    color: grey;
  }

.container-2 {
    margin: 0 auto; 
    width: 1300px;
}

.hero-2 {
    height: 0vh;
    min-height: 185px;
    background: url(./img/bg/hero.jpg) center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.fade-slider-2 {
    display: block;
    top: 23%;
    margin: -20px 0px 20px 35%;
}

.lined-text-2 {
    font-family: "Roboto", Arial, sans-serif;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-158%, -66%);
}

.hero__content-2 {
    height: 100%;
    align-items: center;
    overflow: hidden;
    margin-top: -10.2%;
}

.products-2 {
    margin-bottom: 160px;
}

.products__list-2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-top: -5%;
}

.products__item-2 {
    width: 1000px;
    height: 600px;
    background: #fcb913;
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.products__img-2 {
    display: block;
    max-width: 46%;
    margin-top: 11%;
    margin-left: 3%;
}

.products__price-2 {
    position: absolute;
    top: 18px;
    left: -6px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);
}

.products__price-amount-2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    color: #fff;
    transform: rotate(181deg);
    position: absolute;
    top: 2px;
    right: 28px;
}

.products__item-2--color-black {
  background: #232323;  
}

.products__item-2--color-black .products__price-2 {
    border-bottom-color: #ffc92f;  
}

.products__item-2--color-black .products__price-amount-2 {
    color: #212121;
}

.products__item-2--size-double {
    width: 620px;
    height: 544px;
}

.products__content-2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__item-2:hover .products__desc-text-1 .products__desc-text-2 .products__desc-text-3 {
    transform: translateY(0%);

}

.products__desc-text-1 {
    position: relative;
    bottom: 398px;
    left: 0;
    right: 0;
    padding: 77px;
    background: rgba(252 245 230);
    font-size: 15px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 500px;
    z-index: 10;
}

.products__desc-text-2 {
    position: relative;
    bottom: 187px;
    left: 0;
    right: 0;
    padding: 77px;
    background: rgba(252 245 230);
    font-size: 15px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 500px;
    z-index: 20;
}

.products__desc-text-3 {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 77px;
    background: rgba(252 245 230);
    font-size: 15px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 500px;
    z-index: 100;
}

.btn-1 {
    text-transform: uppercase;  
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 21px;
    padding: 2px 30px;
    background: #000;
    color: #ffc92f;
    display: inline-block;
    text-decoration: none;
    z-index: 10;
}
  
.btn-1:hover {
    background: #d82727;
    color:#fff
}

.btn-2 {
    text-transform: uppercase;  
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 21px;
    padding: 2px 30px;
    background: #000;
    color: #ffc92f;
    display: inline-block;
    text-decoration: none;
    z-index: 20;
    margin-left: 434px;
    margin-top: -129px;
}
  
.btn-2:hover {
    background: #d82727;
    color:#fff
}

.btn-3 {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 21px;
    padding: 2px 30px;
    background: #000;
    color: #ffc92f;
    display: inline-block;
    text-decoration: none;
    z-index: 100;
}
  
.btn-3:hover {
    background: #d82727;
    color:#fff
}

  

  



  


